header {
    background-color: $footer-and-header-primary-color;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

.logo-name {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px;

    justify-content: center;
    h2{
        padding-left: 10px;
        margin: 0px;   
        color: $footer-and-header-second-color; 
        }
        img {
            width: 50px;   
        }
    }

}
